@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: white 5000s ease-in-out 0s;
  }


.force-center {
    text-align: -webkit-center !important;
}
  